@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
}

header {
  text-align: center;
}

main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#main-menu > li {
  display: inline;
  margin-right: 10px;
}

#main-menu {
  margin: 1em 0;
}

.with-image {
  text-align: center;
}

header h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.75em;
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin: 1em auto;
}

.nuova-classe {
  color: aquamarine;
}

.ulteriore-classe {
  background-color: red;
}

.invisible {
  opacity: 0;
}
